body {
  background: #f5f7fa;
}

.card {
  transition: 0.3s;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px !important;
}

.task-text {
  cursor: pointer;
  font-size: 18px;
  flex: 1;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  margin-left: 15px;
}
